
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
@if (TempData["messageEmail"] != null)
{
    @TempData["messageEmail"]
}
<hr>
@Html.ActionLink("На главную", CONSTANTS.Constans_Cinema.HOME_INDEX, CONSTANTS.Constans_Cinema.HOME_CONTROLLER)
