@using BLL.ViewModels.Movie
@model IEnumerable<MovieModel>

@foreach (MovieModel item in Model)
{
    <tr class="movieItem">
        <td>
            @item.Name
        </td>
        <td>
            @item.AgeLimit
        </td>
        <td>
            @item.ReleaseYear
        </td>


        <!--
        <td class="item">
            if (item.ImagePath != null)
            {
                <img src="Url.Content(item.ImagePath)" />
            }
        </td>
        -->
    </tr>
}
