@using BLL.ViewModels.Movie
@model IEnumerable<MovieModel>

@foreach (MovieModel item in Model)
{
    <tr>
        <td class="item">
                @item.Name
        </td>

        <!--
        <td class="item">
            if (item.ImagePath != null)
            {
                <img src="Url.Content(item.ImagePath)" />
            }
        </td> 
        -->
    </tr>
}
